{% include 'header.html' %}

<div class="about-bg">
</div>

<div class="container why-yoga">
    <div class="sub-why-yoga">
        <img src="../../static/img/why_yoga.jpg" alt="Yoga Image" width="100%">
    </div>
    <div class="sub-why-yoga">
        <h2>WHY YOGA</h2>
        <p>
            Yoga is known for mostly its health's benefits, but it also can provide stress relief, mindfulness, building of a sense of community and friendship. These benefits of practising yoga are what we want to share with you.
        </p>
    </div>
</div>

<div class="container mission-vision">
    <div class="mission">
        <h1>OUR MISSION</h1>
        <p>
            Our mission is to enrich lives with yoga and expand access to its therapeatic benefits to all communities across india
        </p>
    </div>
    <div class="mission">
        <h1>OUR VISION</h1>
        <p>
            Yoga is an ancient practice that nature mantal and physical well being.our vision is to remove barriers and make the benefits of yoga accessible to those in need.
        </p>
    </div>
</div>

{% include 'footer.html' %}