{% include 'header.html' %}

    <div class="image">

      <h1 class="text-white">Yoga has <br> <span class="head-span">Many Meanings...</span></h1>
      <p class="typing"><i class="fa-solid fa-circle-right"></i><span class="typing-text"></span></p>  
      
    </div>

    <!-- Section 1 starts from here... -->
    <section class="section1 pt-5">
      <div class="text-center pb-5">
        <p>Categories</p>
        <h2>INVIGORATING THROUGH RESTFUL YOGA CLASSES, <br> WE HAVE A PRACTICE FOR YOU.</h2>
        <p>No rushing around and zero commute - enjoy thousands of high-quality yoga classes to meet you where you are,
          on your schedule</p>
      </div>

      <!-- Different levels -->
      <!-- <div class="container diff-levels">
        <div class="levels">
          <img src="/static/img/Beginner.jpg" alt="Beginner Image" width="100%"> <br>
          <p class="text-center p-2">These are the beginner level exercises. One, who has no exprience in Yoga, can
            start exercising from this level.</p>
          <a href="/home/yoga-poses" class="btn btn-outline-primary mb-5" style="margin-left:25%; width: 50%;">Basic Yoga Poses</a>
        </div>

        <div class="levels ms-5">
          <img src="/static/img/Intermediate.jpg" alt="Intermediate Image" width="100%">
          <p class="text-center p-2">These exercises are recommended to those peoples who have some experience in
            Yoga/Exercise.</p>
          <a href="/home/yoga-for-women" class="btn btn-outline-primary mb-5" style="margin-left:25%; width: 50%;">Yoga for Women</a>
        </div>

        <div class="levels ms-5">
          <img src="/static/img/Advanced.jpg" alt="Advanced Image" width="100%">
          <p class="text-center p-2">These are the advanced exercises. One, who has completed beginner and
            intermediate expriences, can be recommended.</p>
          <a href="/home/yoga-for-men" class="btn btn-outline-primary mb-5" style="margin-left:25%; width:50%">Yoga for Men</a>
        </div>
      </div> -->
      <div class="container diff-levels">
        
        <!-- One Block -->
        {% for problem in problems %}
        <div class="card levels" style="width: 16rem;">
          <img src="/{{problem.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Yoga for <span style="color: darkred; font-weight: bolder;">{{problem.d_name}}</span></h5>
            <a href="/home/yoga-for-disease/{{problem.d_code}} - {{problem.d_name}}" class="btn btn-outline-primary">Go to Yogas</a>
          </div>
        </div>
        {% endfor %}

      </div>
    </section>

    <!-- Section 2 starts from here... -->
    <div class="section2">
      <div>
        <p class="container pt-5 pb-3 text-white text-center">
          WHILE OTHER PLATFORMS HAVE DIVERGED TO OTHER FITNESS MODALITIES, WE STAYED COMMITTED TO EXPLORING THE DEPTH OF YOGA AND MEDITATION. SOME OF THE MYRIAD BENEFITS ARE:
        </p>
      </div>

      <div class="benefits container d-flex flex-column flex-md-row">
        <div class="text-white p-4 text-center ">
          <h1 class="pb-4">
            <i class="fa-sharp fa-solid fa-broom-ball"></i>
          </h1>
          <h4>WAKE UP ENERGIZED AND SLEEP SOUNDLY</h4>
          <p class="pt-4">
            Whether through movement or in stillness, we have a wide range of yoga classes and audio
            meditations designed to help you wake up rejuvenated, focused, quiet your mind, relax, and to fall into a deep sleep in little-to-no time at all.
          </p>
        </div>

        <div class="text-white p-4 text-center ">
          <h1 class="pb-4">
            <i class="fa-solid fa-person"></i>
          </h1>
          <h4>STRENGTHEN MIND AND BODY</h4>
          <p class="pt-4">
            Yoga is a powerful tool to hone the mind and body. Dive into classes to increase flexibility, release fascia, build overall strength, and sharpen your focus so you can live a balanced life.
          </p>
        </div>

        <div class="text-white p-4 text-center ">
          <h1 class="pb-4">
            <i class="fa-solid fa-bed"></i>
          </h1>
          <h4>FEEL REJUVENATED AND YOUTHFUL</h4>
          <p class="pt-4">
            Whether through movement or in stillness, we have a wide range of yoga classes and audio
            meditations designed to help you wake up rejuvenated, focused, quiet your mind, relax, and to fall into a deep sleep in little-to-no time at all.
          </p>
        </div>
      </div>
    </div>

    <!-- Section 3 starts from here... -->
    <div class="bg py-5">
      <div class="container">
        <div class="row ml-3">
          <h5 >Being Spiritual Foundation help you to perform the perfect practice of Meditation </h5>
          <p>
            There is no right or wrong way to meditate but it's important to find a correct practice that helps you to meets your needs and overcome with issues and manage symptoms of conditions such as:
          </p>
          
          <div class="col-sm-5  test ml-3">
            <h4 class="practice-type">
              Practice of Meditation
            </h4>
            <ul>
              <li>Stress</li>
              <li>Anxiety</li>
              <li>Asthma</li>
              <li>Cancer</li>
              <li>Chronic Pain</li>
              <li>Depression</li>
              <li>Heart Disease</li>
              <li>High Blood Pressure</li>
              <li>Sleep Problems</li>
              <li>Tension Headaches</li>
            </ul>
          </div>
          <div class="col-sm-5 ml-3  test">
            <h4 class="practice-type">
              Types of Meditation
            </h4>
            <ul>
              <li>Mindfulness meditation</li>
              <li>Spiritual meditation</li>
              <li>Focused meditation</li>
              <li>Movement meditation</li>
              <li>Mantra meditation</li>
              <li>Transcendental meditation</li>
              <li>Progressive relaxation</li>
              <li>Loving-kindness meditation</li>
              <li>Visualization meditation</li>
              <!-- <li>Tension Headaches</li> -->
            </ul>
          </div>
        </div>
      </div>
      
    </div>

{% include 'footer.html' %}