<!-- Footer starts from here... -->
<div class="footer">
    <div class="text-white sub-footer">

      <div class="col sub-footer-1">
        <h5>Other Links</h5>
        <ul style="list-style: none; margin-left: -30px;">
          <li class="footer-link"><a href="/home/about">About Us</a></li>
          <li class="footer-link"><a href="/home/contact">Contact Us</a></li>
          <li class="footer-link"><a href="#">Blogs</a></li>
          <li class="footer-link"><a href="/home/help">FAQs</a></li>
          <!-- <li class="footer-link"><a href="#">Other Links</a></li> -->
        </ul>
      </div>

      <div class="col ps-5 sub-footer-1">
        <h5>Our Location</h5>
        <ul style="list-style: none; margin-left: -30px;">
          <li class="footer-link">
            <address>
              KSVCEM, Bijnor <br>
              Uttar Pradesh, 246701
            </address>
          </li>
          <li class="footer-link">
            <a href="mailto:contact@mymatspace.com">contact@mymatspace.in</a>
          </li>
          <li class="footer-link">
            <a href="tel:+919876543210">(+91) - 9876543210</a>
          </li>
        </ul>
      </div>
      <div class="col ps-5 sub-footer-1">
        <h5>Follow Us On</h5>
        <ul class="social-media">
          <li class="social-1">
            <a href="https://www.facebook.com/profile.php?id=100091843916891" target="_blank">
              <i class="fa-brands fa-square-facebook icons"></i>

            </a>
          </li>

          <li class="social-2">
            <a href="https://www.linkedin.com/in/sarajuddin-8481b0203/" target="_blank">
              <i class="fa-brands fa-linkedin icons"></i>
            </a>
          </li>

          <li class="social-2">
            <a href="https://twitter.com/Sarajuddin01" target="_blank">
              <i class="fa-brands fa-square-twitter icons"></i>
            </a>
          </li>

          <li class="social-4">
            <a href="https://www.instagram.com/sarajuddin__/" target="_blank">
              <i class="fa-brands fa-instagram icons"></i>
            </a>
          </li>

          <li class="social-5">
            <a href="https://www.youtube.com/channel/UCzFBzsqF-R3d1amI-gZOQOw" target="_blank">
              <i class="fa-brands fa-youtube icons"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    
    <div class="text-white pb-1 container text-center">
      <hr>
      <p id="copyright">
        All Content &copy; Copyright Yoga - <span class="copyright">My Mat Space</span> 2022. All Rights Reserved.
      </p>
    </div>
  </div>

  <!-- Typed JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js" integrity="sha512-1KbKusm/hAtkX5FScVR5G36wodIMnVd/aP04af06iyQTkD17szAMGNmxfNH+tEuFp3Og/P5G32L1qEC47CZbUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <script>
    var typed = new Typed(".typing-text", {
    strings: ["Play", "Balance", "Peace", "Energy", "Practice", "Focus", "Mobility", "Healthy"],
    loop: true,
    typeSpeed: 50,
    backSpeed: 55,
    backDelay: 800,
  });
  </script>

</body>
</html>