{% include 'header.html' %}
<br><br><br>

<div class="container faqs">
    <h1 class="h">Frequently Asked Questions (FAQs)<span class="arrow"> >> </span></h1>
    <p class="hr"></p>

    <div class="questions">
        <details class="details">
            <summary>What are the benefits of Yoga ?</summary>
            <p class="summary">Top 10 Health Benefits of Yoga are as follows:
                <ul style="list-style-type: none;">
                    <li>Improves Flexibility</li>
                    <li>Builds Strength</li>
                    <li>Increases Muscle Tone</li>
                    <li>Improves Balance</li>
                    <li>Supports Joint Health</li>
                    <li>Prevents Back Pain</li>
                    <li>Teaches Better Breathing</li>
                    <li>Fosters Mental Calmness</li>
                    <li>Reduces Stress</li>
                    <li>Increases Self Confidence</li>
                </ul>
            </p>
        </details>

        <!--  -->
        <details class="details">
            <summary>What are the Yoga courses offered by colleges/institutes?</summary>
            <p class="summary">
                Yoga can be studied at an undergraduate level with a Bachelor of Arts (BA) and Bachelor of Science (BSc) degree and, at a postgraduate level with Masters of Arts (MA) and Masters of Science (MSc) degree. In addition, various certificates and diploma courses are also available in the Yoga field.
            </p>
        </details>
        
        <!--  -->
        <details class="details">
            <summary>What are the skillsets required to become Yoga professional?</summary>
            <p class="summary">
                Candidates who want to pursue a yoga course and make a career in this field should have a holistic approach towards life, they should be quick learners with great patience. They should be good speakers, listeners and compassionate.
            </p>
        </details>
        <!--  -->
        <details class="details">
            <summary>What are some yoga teaching courses?</summary>
            <P class="summary">
                There are many short-term as well as long-term courses in Yoga teaching for Therapeutic Yoga, Traditional Yoga and Meditation, Advanced Yoga Teacher Training etc. 
            </P>
        </details>
        <!--  -->
        <details class="details">
            <summary>What are job profiles in the field of Yoga?</summary>
            <p class="summary">
                Some of the job profiles have been given as follows:
                <ul style="list-style-type: none;">
                    <li>Yoga Instructor</li>
                    <li>Yoga Therapist</li>
                    <li>Yoga Specialist</li>
                    <li>Research Officer- Yoga and Naturopathy</li>
                    <li>Yoga Aerobic Instructor</li>
                    <li>Yoga Consultant</li>
                    <li>Publication Officer (Yoga)</li>
                    <li>Yoga Manager</li>
                </ul>
            </p>
        </details>
        <!--  -->
        <details class="details">
            <summary>What is the scope of the Yoga course?</summary>
            <p class="summary">
                Yoga courses offer good career scope as various Asanas have proved beneficial to millions of people worldwide. These professionals can do jobs in both government and private fields as yoga instructors. One can start their own Yoga classes as well and, make it popular worldwide with the digital medium.
            </p>
        </details>
        <!--  -->
        <details class="details">
            <summary>What qualifications are needed to pursue a profession in yoga?</summary>
            <p class="summary">
                The only requirement for pursuing a profession in yoga sciences is that the applicant has completed Class 12 with a minimum cumulative GPA of 50% if continuing on to an undergraduate programme. The candidates should also have a strong interest in health-related studies and sciences, as well as be in good bodily and mental health.
            </p>
        </details>
        <!--  -->
        <details class="details">
            <summary>Is there a minimum age requirement or level of expertise required to pursue a profession in yoga?</summary>
            <p class="summary">
                No. To pursue a profession in yoga, there is no set age requirement or level of expertise needed. Candidates must, however, be at least 17 years old to apply.
            </p>
        </details>
        <!--  -->
        <details class="details">
            <summary>What benefits does this course offer?</summary>
            <p class="summary">
                In a country like India, where people toil from morning till evening and hardly consume nutritious food, dedicating some time out of their active lives to themselves and getting a sense of serenity is where yoga professionals come into play if you require the hour. They give people a direction to start from and also assist in guiding, educating, and monitoring them.
            </p>
        </details>
        <!--  -->
        <details class="details">
            <summary>What are the benefits of taking yoga classes online?</summary>
            <p class="summary">
                Those who adhere to the guidelines and instructions provided during the live sessions and recorded videos will benefit from taking online courses. To be healthy and fit, there are some guidelines about posture, time, and routine.
            </p>
        </details>
        <!--  -->
        <details class="details">
            <summary>How can yoga teachers benefit from the credential programmes?</summary>
            <p class="summary">
                A number of asanas and pranayama techniques can be utilised by teachers to help pupils relax. to instruct the pupils in maintaining a balance between their daily tasks, their level of stress, and their mental health.
            </p>
        </details>
    </div>
    <div>
        <p>Please feel free to connect with us, If you have any question. You can write your query <a href="/home/contact"><strong> here</strong></a></p>
    </div>
</div>


{% include 'footer.html' %}