{% include 'header.html' %}

<div class="women-bg">
    <h2 class="container ">Yoga Asanas Every Woman Must Do</h2>
</div>

<div class="container">
    <div>
        <p class="font-size">Yoga Poses Which <span class="h2">Every Woman Should Practice</span></p>
        <p>While yoga can help everybody, regardless of age and gender, yoga can be especially helpful for women who tend to have a number of health problems — from hormonal issues to various aches and pains and post-pregnancy problems to stress and tension. Read on to know more.</p>
    </div>
    
    <div>
        <p class="font-size">Yoga asanas for Women and their Benefits</p>
        <p>Below are eight Yoga poses that every woman should practice for better health and mental energy.</p>
    </div>
</div>

<div class="container">
    <div class="my-5">
        <h3> <span class="number">1</span> Shishuasana</h3>
        <p>Also known as Child’s pose, this is one of the best and easiest yoga asanas for women, which helps to release stress. 15 minutes of this pose daily is a gem for a stress-free life.</p>
        <div class="women-img">
            <video controls autoplay loop >
                <source src="https://www.verywellfit.com/thmb/terRChT77oFKwijX0XpqXurqmjk=/750x0/filters:gifv(webm)/childs-pose-56cdd121b1c24f3ca52d5d23ce43a072.gif">
            </video>
        </div>
        <h4>To perform this -</h4>
        <p>• Kneel down on the floor with the toes kept together.</p>
        <p>• Inhale and bend forward to put your torso between the thighs and face on the ground. </p>
        <p>• Press your hands on the ground and free up all your body parts to feel relaxed.</p>
        <h4>Benefits -</h4>
        <p>• Helps to cure stress and anxiety</p>
        <p>• Helps to strengthen the back muscles and give better posture.</p>
    </div>
    <div class="my-5">
        <h3><span class="number">2</span> Malasana</h3>
        <p>Also known as Garland pose, this asana is all about stretching your thighs and feeling the strength of your body.</p>
        <div class="women-img">
            <video controls autoplay loop >
                <source src="https://www.verywellfit.com/thmb/IDHM9Lcx-FV3A3dwUsgn-3dYFEs=/750x0/filters:gifv(webm)/Garlandpose-d5153c197fef4f79bda28a9782abb55b.gif">
            </video>
        </div>
        <h4>To perform this -</h4>
        <p>• Stand on the mat with the feet slightly wider.</p>
        <p>• Bend your knees slowly in the squatting position.</p>
        <p>• Bring your hands together to join the palms in Namaskar pose by gently pressing the inner knees with your elbows to make it wider apart.</p>
        <p>• Bring your hips a little down but make sure your spine is elongated and the chest is opened up.</p>
        <h4>Benefits –</h4>
        <p>• It helps to regulate the menstrual cycle.</p>
        <p>• It is good for relieving tension from the thigh and neck region.</p>
        <p>• It makes the thigh and groin muscles stronger.</p>
    </div>
    <div class="my-5">
        <h3><span class="number">3</span> Vriksasana</h3>
        <p>Also known as Tree pose, this asana is one of the most favoured female yoga poses mainly because it helps in toning some key areas of the body such as legs and abdomen. Apart from this, Vriksasana has several other benefits.</p>
        <div class="women-img">
            <video controls autoplay loop >
                <source src="https://www.verywellfit.com/thmb/wLuYsPa1e3iJukX6Z89H6xqz4TQ=/750x0/filters:gifv(webm)/TreePose-bd59297217194f54a5eb4dc6278eb2e9.gif">
            </video>
        </div>
        <h4>To perform this -</h4>
        <p>• This asana is practiced on one leg and the other foot is on the thigh.</p>
        <p>• Keep yourself stable on one foot and join your palm near the chest to remember the ultimate God by closing the eyes.</p>
        <p>• Make sure the body, from head to toe, is in a straight line.</p>
        <h4>Benefits -</h4>
        <p>• Helps in getting healthy and strong legs, a flat belly and toned arms.</p>
        <p>• Helps to improve body’s balance and the mental focus.</p>
        <p>• Adds self-confidence and inner faith to mind and body.</p>
    </div>
    <div class="my-5">
        <h3><span class="number">4</span> Utkata Konasana</h3>
        <p>Also known as Goddess pose, this asana resembles to the poses of several Hindu goddesses.</p>
        <div class="women-img">
            <img src="https://www.verywellfit.com/thmb/8JQfe9nN0aKxvG1kyUXzi6gyd2o=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/CobblersPoseBuddhaKonasana_annotated2-a79f4cda590d453791ea428be6c48513.jpg" >
        </div>
        <h4>To perform this –</h4>
        <p>• Stand with your legs apart</p>
        <p>• Now, squat down while keeping both your hands up in a straight and stretched manner.</p>
        <h4>Benefits -</h4>
        <p>• It is good for pregnant women as it prepares the body for childbirth. While performing the asana, pelvic muscles are stretched and they also become stronger to handle childbirth more efficiently.</p>
        <p>• This pose helps to reach a level of mental, physical and spiritual perfection.</p>
    </div>
    <div class="my-5">
        <h3><span class="number">5</span> Navasana</h3>
        <p>Also known as Boat pose, this asana is one of the fastest yoga poses to complete, especially for women with a busy schedule.</p>
        <div class="women-img">
            <img src="https://i0.wp.com/post.greatist.com/wp-content/uploads/sites/2/2019/05/BoatPose.gif?w=1155&h=789" >
        </div>
        <h4>To perform this -</h4>
        <p>• Sit on your buttocks with the legs and upper body making a right angle between them.</p>
        <p>• Make sure the body is balanced in this position, while your legs are in the air.</p>
        <h4>Benefits –</h4>
        <p>• This pose is helpful for women suffering from PCOS. This is because it helps strengthen various parts of body including thyroid gland, thereby regulating TSH secretion. This in turn brings relief to PCOS symptoms.</p>
        <p>• Helps to tone abs and thigh muscles instantly</p>
        <p>• One of the best ways to elongate thigh bones and spine</p>
    </div>
    <div class="my-5">
        <h3><span class="number">6</span> Kapotasana</h3>
        <p>Also known as Pigeon pose, this asana is one of the most popular yoga asanas for women because it helps them relax and sleep better at night.</p>
        <div class="women-img">
            <video controls autoplay loop >
                <source src="https://www.verywellfit.com/thmb/1C4Um5R7nbXDVOWfu3KmqLwzFdo=/750x0/filters:gifv(webm)/Verywell-07-3567179-Pigeon02-133-598b72f5b501e80012e733ab.gif" type="">
            </video>
        </div>
        <h4>To perform this -</h4>
        <p>• Begin by sitting on your knees with your legs completely in contact with the ground.</p>
        <p>• Bend your body slightly backward to touch the elbow with the mat.</p>
        <p>• Hold the toes with your hands and put the head on the ground between the hands. Remain in this position for a couple of minutes to experience the enormous serenity it offers.</p>
        <h4>Benefits -</h4>
        <p>• Helps to release stress in the spine, brain and nerves of the body.</p>
        <p>• Helps women relax thereby helping them sleep better. This helps to overcome insomnia.</p>
        <p>• Tones the abdominal muscles and nourishes the digestive organs</p>
    </div>
    <div class="my-5">
        <h3><span class="number">7</span> Adho Mukha Svanasana</h3>
        <p>Also known as Downward-Facing Dog, this is one of the most popular yoga poses in the world. And finally, we have the Paschimottanasana. It is an easy yoga pose that you can do while sitting down. It targets the muscles and organs in your belly and so is highly beneficial.</p>
        <div class="women-img">
            <img src="https://www.verywellfit.com/thmb/jA78u2wK477pSpCpMmwPPDdmxqE=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/DownwardFacingDogAdhoMukahSvanasana_annotated2-918a8568b3af49d2add6d1949797a20f.jpg" alt="" >
        </div>
        <h4>To perform this -</h4>
        <p>1. Start in a plank with your shoulders over your hands, core engaged, feet hip-width apart, and toes tucked. 2. Lift hips to form a straight line from shoulders to heels.</p>
        <p>3. Lift your hips back and up to form a pyramid shape with your body. Focus on creating a straight line from hands to hips. 4. Relax your neck to look back at your feet.</p>
        <p>5. Release heels toward the floor to stretch the calves. 6. Hold the posture, inhaling as you lengthen and lift, and exhaling as you deepen the stretch and increase engagement.</p>
        <h4>Benefits -</h4>
        <p>• This asana is favorable for the female body and stimulates the flow of blood throughout the body parts.</p>
        <p>• It helps to remove pimples, wrinkles, and blemishes by providing adequate nourishment through blood</p>
        <p>• It helps to prevent the problem of hair fall and grey hair</p>
    </div>
</div>




{% include 'footer.html' %}