{% include 'header.html' %}
<!-- {% load static %} -->
<div class="container">
    <div class="poses-box">
        <div>
            <h1>Yoga Poses for Beginners</h1>
            <p>Start your practice with these basic poses</p>
        </div>
        <br>
        <div>
            <p>
                As a new yoga student, you might feel overwhelmed by the number of poses and their odd-sounding names. But yoga doesn't have to be complicated. If you got out of bed this morning and stretched your arms over your head, you already did a yoga pose. And remember that your yoga practice is a lifelong pursuit giving you plenty of time to learn scores of postures.
            </p>
            <p>
                Many basic yoga postures feel very familiar because our bodies bend and fold naturally into poses. Mindfully and with conscious breaths, learn beginner yoga poses first. It's a good idea to keep things simple when you're just starting. The yoga poses for beginners that are outlined here are valuable enough to keep you occupied for a long time. Then, as you build your practice, you can take on more challenging poses.
            </p>
        </div>
        <div>
            <h1>Types of Poses</h1>
        </div>
        <!-- ---------------------------------------------------------------------------- -->
        <div>
            <p>Yoga has various pose types based on how you move your body to complete them. Here are the basic types of yoga poses.</p>
            <ul>
                <li class="line-space-1">
                    <span class="list-span">Standing poses:</span> Standing poses are often done first in a yoga class to "build heat" and warm you up. In vinyasa/flow style yoga, standing poses are strung together to form long sequences. In Hatha classes, you may do the standing poses individually with rest between each pose.
                </li>
                <li class="line-space-1">
                    <span class="list-span">Balancing poses:</span> Beginners' balances are an important way to build the core strength necessary for many of yoga's more advanced postures. Though balances may seem difficult at first, you will find that you can improve markedly with regular practice.
                </li>
                <li class="line-space-1">
                    <span class="list-span">Backbends:</span> As a beginner, you will generally begin with gentle spine flexion and extension, eventually moving to deeper bends. Since you rarely move like this in daily life, backbends are essential for spinal health and longevity.
                </li>
                <li class="line-space-1">
                    <span class="list-span">Seated poses:</span> Seated stretches, which often focus on stretching the hips and hamstrings, are usually done toward the end of a yoga class after the body is warm. Placing a folded blanket or a block under your seat is an excellent way to make yourself more comfortable in these postures.
                </li>
                <li class="line-space-1">
                    <span class="list-span">Resting or supine poses:</span> It's essential to get to know your resting poses, especially child's pose, which you are encouraged to do whenever you need a break during a yoga session. These resting poses continue the hip and hamstring work of the seated poses and provide gentle back-bending, twisting, and inversion.
                </li>
            </ul>
        </div>
        <!-- -------------------------------------------------------------------------------- -->
        <br>
        <div class="categories">
            <div class="one-category">
                <h1><span class="count-span">1</span> Warrior (Virabhadrasana)</h1>
                <div>
                    <video controls autoplay loop>
                        <!-- <source src="../../static/img/Poses/Pose-1.mp4"> -->
                        <source src="{% static 'img/Poses/Pose-1.mp4' %}" type="">
                    </video>
                    <h5>Pose type: Standing</h5>
                    <p>
                        Unlike Warrior I, in Warrior II, the hips face the side of the mat. The hips and shoulders open to the side when moving from Warrior I to Warrior II.
                    </p>
                    <p>
                        You'll also rotate your back foot, angling your toes at about 45 degrees. In both Warrior poses, aim to keep your front knee stacked over the ankle. Your front toes face forward.
                    </p>
                    <h5>Learn More : 
                        <a href="https://www.verywellfit.com/warrior-ii-virabhadrasana-3567136" target="_blank">How to Do Warrior II</a>
                    </h5>
                </div>
            </div>

            <div class="one-category">
                <h1><span class="count-span">2</span> Extended Side Angle (Utthita Parvakonasana)</h1>
                <div>
                    <video controls autoplay loop>
                        <!-- <source src="/static/img/Poses/Pose-2.webm"> -->
                        <source src="{% static 'img/Poses/Pose-2.webm' %}" type="">
                    </video>
                    <h5>Pose type: Standing</h5>
                    <p>
                        One modification of Extended Side Angle Pose is to bring your forearm to your thigh instead of placing your hand on the floor. It should rest lightly on your thigh and not bear much weight. This modification enables you to keep your shoulders open. You can also place your hand on a block.
                    </p>
                    <p>
                        If you reach toward the floor before you're ready, you may compromise the position of the torso, turning your chest toward the floor instead of toward the ceiling.
                    </p>
                    <h5>Learn More : 
                        <a href="https://www.verywellfit.com/extended-side-angle-pose-utthita-parsvakonasana-3567116" target="_blank">How to Do Extended Side Angle</a>
                    </h5>
                </div>
            </div>
            
            <div class="one-category">
                <h1><span class="count-span">3</span> Standing Forward Bend (Uttanasana)</h1>
                <div>
                    <video controls autoplay loop>
                        <!-- <source src="../../static/img/Poses/Pose-3.webm"> -->
                        <source src="{% static 'img/Poses/Pose-3.webm' %}" type="">
                    </video>
                    <h5>Pose type: Standing</h5>
                    <p>
                        To do Standing Forward, Bend, exhale, and fold over your legs. If the hamstrings feel a little tight at first, bend the knees so that you can release your spine. Let the head hang heavy.
                    </p>
                    <p>
                        Keep the legs gently bent with feet hip-width apart for better stability (you can straighten the legs, but it is unnecessary). You can clasp opposite elbows with opposite hands while swaying gently from side to side.
                    </p>
                    <h5>Learn More : 
                        <a href="https://www.verywellfit.com/standing-forward-bend-uttanasana-3567133" target="_blank">How to Do Standing Forward Bend</a>
                    </h5>
                </div>
            </div>

            <div class="one-category">
                <h1><span class="count-span">4</span> Reverse Warrior (Viparita Virabhadrasana)</h1>
                <div>
                    <video controls autoplay loop>
                        <!-- <source src="../../static/img/Poses/Pose-4.webm"> -->
                        <source src="{% static 'img/Poses/Pose-4.webm' %}" type="">
                    </video>
                    <h5>Pose type: Standing</h5>
                    <p>
                        Reverse Warrior shares a similar stance to Warrior I and incorporates a slight heart-opening side bend or optional backbend.To stay steady in the posture, it's essential to root into the sole of the front foot, anchor the outside edge of the back foot, and engage the glutes and hamstrings.
                    </p>
                    <p>
                        Focus your gaze up toward the palm as it reaches overhead. Keep your front knee tracking over your ankle as you sink deeper into the hips.
                    </p>
                    <h5>Learn More : 
                        <a href="https://www.verywellfit.com/reverse-warrior-pose-3567108" target="_blank">How to Do Reverse Warrior</a>
                    </h5>
                </div>
            </div>
            
            <div class="one-category">
                <h1><span class="count-span">5</span> Garland Pose (Malasana)</h1>
                <div>
                    <video controls autoplay loop>
                        <!-- <source src="../../static/img/Poses/Pose-5.webm"> -->
                        <source src="{% static 'img/Poses/Pose-5.webm' %}" type="">
                    </video>
                    <h5>Pose type: Standing</h5>
                    <p>
                        Squatting isn't something familiar to most 21st-century humans. However, it's an excellent stretch for the muscles around the pelvis, making it what is often called a "hip opener" in yoga.
                    </p>
                    <p>
                        Perhaps surprisingly, it's also good for your feet, which are often neglected. If squatting is difficult for you, props can help: Try sitting on a block or rolling a towel or blanket under the heels. Keep pressing your heels down toward the floor.
                    </p>
                    <h5>Learn More : 
                        <a href="https://www.verywellfit.com/garland-pose-malasana-3567079" target="_blank">How to Do Garland Pose</a>
                    </h5>
                </div>
            </div>

            <div class="one-category">
                <h1><span class="count-span">6</span> Pyramid Pose (Parsvottanasana)</h1>
                <div>
                    <video controls autoplay loop>
                        <!-- <source src="../../static/img/Poses/Pose-6.webm"> -->
                        <source src="{% static 'img/Poses/Pose-6.webm' %}" type="">
                    </video>
                    <h5>Pose type: Standing</h5>
                    <p>
                        Standing forward bends like Pyramid pose are an ideal time to break out your yoga blocks to make the pose more accessible. Place a block on either side of your front foot to "raise the floor" to a level your hands can comfortably reach. Your hamstrings will still enjoy a nice stretch, and they'll thank you for your consideration.
                    </p>
                    <h5>Learn More : 
                        <a href="https://www.verywellfit.com/pyramid-pose-parsvottonasana-3567100" target="_blank">How to Do a Pyramid Pose</a>
                    </h5>
                </div>
            </div>

            <div class="one-category">
                <h1><span class="count-span">7</span> Raised Hands Pose (Urdhva Hastasana)</h1>
                <div>
                    <video controls autoplay loop>
                        <!-- <source src="../../static/img/Poses/Pose-7.webm"> -->
                        <source src="{% static 'img/Poses/Pose-7.webm' %}" type="">
                    </video>
                    <h5>Pose type: Standing</h5>
                    <p>
                        Built upon the foundation of Mountain pose, Urdhva Hastasana requires you to continue to root into the ground with your legs while reaching for the sky with your arms. The result is a full body stretch, a great way to usher in the physical part of your yoga session.
                    </p>
                    <h5>Learn More : 
                        <a href="https://www.verywellfit.com/raised-hands-pose-urdhva-hastasana-3567131" target="_blank">How to Do Raised Hands Pose</a>
                    </h5>
                </div>
            </div>

            <div class="one-category">
                <h1><span class="count-span">8</span> Low Lunge</h1>
                <div>
                    <video controls autoplay loop>
                        <!-- <source src="../../static/img/Poses/Pose-8.webm"> -->
                        <source src="{% static 'img/Poses/Pose-8.webm' %}" type="">
                    </video>
                    <h5>Pose type: Standing</h5>
                    <p>
                        The alignment of your lunge is super important. Try to make a right angle with your front leg so that your knee is directly over your ankle and your thigh is parallel to the floor. At the same time, keep your hips level and energize your back leg.
                    </p>
                    <p>
                        Many people don't go deep enough into the front leg and sag in the back leg. Glance in the mirror to make sure you're getting it right.
                        To modify, place your hands on blocks and/or lower your back leg to the mat (with a blanket or towel as needed for cushioning).
                    </p>
                    <h5>Learn More : 
                        <a href="https://www.verywellfit.com/performing-standing-lunge-stretch-3120306" target="_blank">How to Do Low Lunge</a>
                    </h5>
                </div>
            </div>

            <div class="one-category">
                <h1><span class="count-span">9</span> Downward Facing Dog Split</h1>
                <div>
                    <video controls autoplay loop>
                        <!-- <source src="../../static/img/Poses/Pose-9.webm"> -->
                        <source src="{% static 'img/Poses/Pose-9.webm' %}" type="">
                    </video>
                    <h5>Pose type: Standing/Balancing</h5>
                    <p>
                        The introduction of appropriate balancing postures helps build core strength. In Down Dog Split, it's not about how high you can lift your leg. Instead, focus on rooting into the hands and keeping your weight distributed evenly in both hands.
                    </p>
                    
                    <h5>Learn More : 
                        <a href="https://www.verywellfit.com/down-dog-split-3567041" target="_blank">How to Do Down Dog Split</a>
                    </h5>
                </div>
            </div>

            <div class="one-category">
                <h1><span class="count-span">10</span> Bridge Pose (Setu Bandha Sarvangasana)</h1>
                <div>
                    <video controls autoplay loop>
                        <!-- <source src="../../static/img/Poses/Pose-10.webm"> -->
                        <source src="{% static 'img/Poses/Pose-10.webm' %}" type="">
                    </video>
                    <h5>Pose type: Backbend</h5>
                    <p>
                        Bridge pose is a gentle way to explore spine extension, also known as a backbend. It's a good idea to start incorporating this type of movement because it improves the mobility of your spine and counters the effects of too much sitting.
                    </p>
                    <p>
                        If Bridge seems too intense, try a ​supported bridge with a block. Remember to root into the feet, which helps you use your leg muscles to support the pose.
                    </p>                    
                    <h5>Learn More : 
                        <a href="https://www.verywellfit.com/how-to-do-the-bridge-exercise-3120738" target="_blank">How to Do Bridge</a>
                    </h5>
                </div>
            </div>

        </div>

    </div>
    
</div>

{% include 'footer.html' %}